<header>
  <!-- Intro settings -->
  <style>
    /* Default height for small devices */
    #intro-example {
      height: 95vh;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #intro-example {
        height: 95vh;
      }
    }


  </style>
  <!-- Background image -->
  <div
    id="intro-example"
    class="d-flex justify-content-center align-items-center pb-5 text-center bg-image"
    style="
      background-image: url('https://images.unsplash.com/photo-1566413031346-9fd5b5d4fb22?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    "
  >
    <div class="mask">
        <div class="text-white">
          <h1 class="mb-2" >Subway Safety.</h1>
          <h5 class="pb-5" >Ride safe, sound, and stress-free.</h5>
          <!-- <div class="input-group rounded">
            <input
              type="search"
              class="form-control rounded"
              placeholder="Search stations"
              aria-label="Search"
              aria-describedby="search-addon"
            />
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
          </div> -->
        </div> 
    </div>
  </div>
  <!-- Background image -->
</header>
