<header>
  <!-- Intro settings -->
  <style>
    /* Default height for small devices */
    #intro-example {
      height: 350px;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #intro-example {
        height: 450px;
      }
    }
  </style>
  <!-- Background image -->
  <div
    id="intro-example"
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://images.unsplash.com/photo-1502666308545-76d8a0c5602f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80');
    "
  >
    <div class="mask pt-5"></div>
  </div>
</header>
